


<div class="row">
    <div class="col-sm-6 px-3 py-3">
        <div class="jumbotron bg-primary text-light">
                  <p class="font-weight-light" style="font-family: 'Roboto Slab', serif;font-size: 24px;">Take a breath and reflect. Here are your questions. Cheers.</p>
        </div>
        
        
        <form action="/submit_reflection" method="post">
          
          <% @questions.each.with_index do |question, index| %>
            <div class="form-group">
            <p class="font-weight-bold"><%=question.reflection_question_text%></p>  
            <input type="hidden" name="question_id_<%=index%>" value="<%=question.id%>">
            <textarea class="form-control" name="answer_<%=index%>" rows="3"></textarea>
          </div>
          <% end %>
            
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>  <!---Column -->
    <div class="col-sm-6 px-3 py-3">
        <div class="jumbotron bg-primary text-light">
                  <p class="font-weight-light" style="font-family: 'Roboto Slab', serif;font-size: 24px;">FYI: Here's what you've learned since your last reflection.</p>
        </div>
        
        <% @responses.each do |response| %>
       <div class="card p-3">
         <p class="card-text">
                      <% t = response.created_at.in_time_zone(current_user.time_zone) %>
           <small class="card-text text-right"><%=t.strftime("%A, %B %-d, %Y: %l:%M %p %Z")%></small>
           <p><%=response.response_text%></p>
          <p class="card-text">
         
          <small class="text-muted" style="font-size: small">
            <a href="/responses/<%= response.id %>/edit">Edit</a>
          </small>
          </p>
         </blockquote>
      </div>
      <% end %>
     </div>




</div> <!---Row---%>