

<div class="page-header">
  <div class="jumbotron bg-dark text-light">
  <h1 class="display-4"><%=Question.where(:user_id => current_user.id).first.question%></h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>In the last week, you've responded 5/5 times. Great job!</p>

  </div>
 
</div>

<div class="row mb-1">
  <div class="col-md-12">
    
    <!--Start search form-->
    <%= search_form_for @q, :class => collapse_search_form, :id => "responses_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :response_text_cont, "Response text contains" %>
    <%= f.text_field :response_text_cont, :class => "form-control", :placeholder => "Response text contains" %>
  </div>
      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/responses" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#responses_filters">
      Search responses
    </a>
  </div>
</div>
 <!--End search form-->


<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
     
      <% @responses.each do |response| %>
       <div class="card p-3">
          <% t = response.created_at.in_time_zone(current_user.time_zone) %>
          <p class="card-text text-right"><%=t.strftime("%A, %B %y, %Y: %l:%M %p %Z")%></p>
         <blockquote class="blockquote mb-0 card-body">
           <p><%=response.response_text%></p>
          <p class="card-text">
         
          <small class="text-muted">
            Made a mistake? <a href="/responses/<%= response.id %>/edit">Edit your response.</a>
          </small>
          </p>
         </blockquote>
      </div>
      <% end %>
    </div>
    <%= paginate @responses, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
    Or, manually add a response.
    </div>
</div>

