<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WDYLT</title>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 70px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">WDYLT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Learn</a>

      </li>
      <!--<li class="nav-item"> <a class="nav-link" href="/">Reflect</a>        -->
      <!--  </li>-->
      <!--  <li class="nav-item">-->
      <!--  <a class="nav-link" href="/">Commemorate</a></li>-->
      </ul>
      <% if current_user.present? %>
            <span class="navbar-text">
              <a class="nav-link" href="/users/edit">
                <%= current_user.email %>
              </a>
            </span>

            <span class="navbar-text">
              <a class="nav-link"href="/users/sign_out" data-method="delete" rel="nofollow">
                Sign Out
              </a>
            </span>
          <% else %>
            <span class="navbar-text">
              <a class="nav-link" href="/users/sign_up">
                Sign Up
              </a>
            </span>

            <span class="navbar-text">
              <a class="nav-link" href="/users/sign_in">
                Sign In
              </a>
            </span>
          <% end %>
      
  </div>
</nav>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
